.orders {
  &__header {
    margin: 1rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    max-height: 1080px;
    // overflow-y: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* hide scroll in IE and Edge */
    scrollbar-width: none; /* hide scroll in Firefox */
    // for fairfox only, color of bar dragger and bg
    scrollbar-color: grey transparent;
    scrollbar-width: thin; // width
    // webkit for chrome, edge, safari, ie
    &::-webkit-scrollbar {
      // width of scrollbar
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      background-color: rgba(88, 88, 86, 0.5);
    }
    &::-webkit-scrollbar-thumb {
      // draggable area chrome
      background-color: rgb(82, 82, 85);
      border-radius: 20px;
      // border: 3px solid orange;
    }
  //   display: flex;
  //   justify-content: space-between;
  }
  // &__list {
    // width: 80%;
  // }
  &__total {
    width: 18%;
    text-align: end;
  }
  &__total-header {
    font-weight: 600;
  }
  &__totals {
    div {
      margin: 6px 0 6px 0;
    }
  }
  &__btn-checkout {
    text-align: center;
    border-radius: 6px;
    background-color: purple;
    padding: 6px 0px 6px 0;
  }
}

// ----------------------------------------
.order {
  &__title {
    margin-top: 0.7rem;
    margin-bottom: 1.2rem;
  }
  &__details {
    display: flex;
    justify-content: space-between;
  }
  &__image {
    margin-right: 3rem;
  }
  &__img {
    height: 100%;
    width: 100%;
    max-height: 600px;
    min-width: 420px;
    max-width: 600px;
    background-color: yellow;
  }
  &__info {
    background-color: blueviolet;
    width: 100%;
    padding: 12px;
    max-height: 300px;
    max-width: 360px;
    position: relative;
  }
  &__status {
    margin-top: 1.2rem;
    h4 {
      margin: 14px 0 8px 0;
    }
  }
}

// ----------------------------------------
.orderItem {
  border: 1px solid powderblue;
  padding: 14px;
  &:nth-child(even) {
    background-color: grey;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item {
      padding: 0 8px 0 0;
    }
  }
  &__detail {
    background: orange;
    border-radius: 6px;
    padding: 4px 6px;
  }
}